/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  color: rgb(75, 75, 75);
  
}

body {
  width: 40%;
  margin: 50px auto;
  border: 2px solid gray;
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  height: 580px;
  box-shadow: 5px 10px #888888;
  font-size: 1.2em;
  font-family: 'Inconsolata', monospace;
  box-sizing: border-box;
  box-shadow: 0px 13px 10px black;
  transform: rotate(3deg);
  width:350px;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(3deg);
}

h1, .special {
  color: rgb(150, 150, 219);
  font-family: 'Source Code Pro', monospace;
}

h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  
}

h6 {
  margin-left: 0px;
}

.question {
  font-style: italic;
}

.missed, .wrong {
  color: red;
  font-weight: bold;
}

.correct {
  color: green;
  font-weight: bold;
}

form {
  margin: 10% 20%;
  text-align: left;
}
button {
  margin: 27px 30%;
  padding: 15px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  transition: all .2s ease-in-out; 
}

button:hover {
  transform: scale(1.1); 
  background-color: goldenrod;
  
}
.start-button {
  background-color: rgb(167, 51, 51);
  color: beige;
  padding: 30px;
  transition: all .2s ease-in-out; 
}
.start-button:hover {
  transform: scale(1.1); 
  background-color: blue;
}

p.finished {
  font-size: 25px;
  color: green;
}

@media (max-width: 500px){
	h1{font-size: 1.5em;margin:0.10rem;}
	#count{font-size: 0.75em;}
	fieldset{margin:0.10rem;}
}

.questionScreen {
  font-family: 'Source Code Pro', monospace;

}
